<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projekt.Properties.Settings.pracownicyConnectionString"
            connectionString="server=localhost;user id=root;database=pracownicy"
            providerName="MySql.Data.MySqlClient" />
        <add name="Projekt.Properties.Settings.Database_PracownicyConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database_Pracownicy.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Projekt.Properties.Settings.sZckDKLFyiConnectionString"
            connectionString="server=remotemysql.com;user id=sZckDKLFyi;database=sZckDKLFyi;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>